<a id="top" class="navigation__item" href="#/show/top">Популярные фотографии</a>
<a id="recent" class="navigation__item" href="#/show/recent">Новые интересные фотографии</a>
<a id="podhistory" class="navigation__item" href="#/show/podhistory">Фото дня</a>

<div class="navigation__spinner">
    <div class="spinner">
        <div class="spinner__ring spinner__ring_1">
            <div class="spinner__ring spinner__ring_2"></div>
        </div>
    </div>
</div>

<div class="navigation__hotkeys">
    <div class="hotkeys">
        <span class="hotkeys__link page-action-link" tabindex="0">Горячие клавишы</span>
        <div class="hotkeys__combinations">
            <p class="hotkeys__combination"><span class="hotkeys__key">→</span> — Следующая фотка</p>
            <p class="hotkeys__combination"><span class="hotkeys__key">←</span> — Предыдущая фотка</p>
            <p class="hotkeys__combination"><span class="hotkeys__key">Ecs</span> — Закрыть/Открыть фотку</p>
            <p class="hotkeys__combination"><span class="hotkeys__key">Ctrl</span> + <span class="hotkeys__key">↓</span> — Больше фоток</p>
            <p class="hotkeys__combination"><span class="hotkeys__key">Ctrl</span> + <span class="hotkeys__key">↑</span> — Вверх</p>
        </div>
    </div>
</div>
