@import url('css/common.css');
@import url('css/image.css');
@import url('css/images.css');
@import url('css/detail.css');
@import url('css/navigation.css');
@import url('css/spinner.css');
@import url('css/hotkeys.css');
