.detail
{
    position: absolute;
    top: auto;
    left: 0;
    margin: 10px 0 0;
    width: 100%;
    height: 500px;
    background: #2b2b2b;
    color: #fff;
}

.detail:after
{
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.detail__viewer
{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.detail__image-container
{
    display: inline-table;
    vertical-align: middle;
}

.detail__image
{
    display: table-cell;
    max-width: 100%;
    max-height: 440px;
}

.detail__info
{
    display: inline-block;
    width: 40%;
    margin: -90px 0 0 15px;
    vertical-align: middle;
}

.detail__title
{
    margin: 0 0 20px;
    font-size: 30px;
}

.detail__date
{
    color: #666;
}

.detail__resolutions
{
    margin: 50px 0 0;
    font-size: 14px;
}

.detail__move
{
    display: table-cell;
    padding: 10px;
    color: #666;
    vertical-align: middle;
    font-size: 28px;
    cursor: pointer;
}

.detail__move:hover
{
    background: #333;
}

.detail__move_prev:after
{
    content: '<';
}

.detail__move_next:after
{
    content: '>';
}

.detail__close
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.detail__close::before,
.detail__close::after
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #666;
    content: '';
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.detail__close::after
{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.detail__close:hover::before,
.detail__close:hover::after
{
    background: #4d4d4d;
}
