.spinner
{
    display: inline-block;
    vertical-align: middle;
}

.spinner,
.spinner__ring
{

    width: 39px;
    height: 39px;
    border: 2px solid transparent;
    border-right: 2px solid #333;
    border-radius: 50%;
    background: transparent;
    -webkit-animation: spin 1.5s linear infinite;
       -moz-animation: spin 1.5s linear infinite;
         -o-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
}

.spinner_inverted,
.spinner_inverted .spinner__ring
{
    border-right-color: #ccc;
}

.spinner__ring_1
{
    margin: 5px;
    width: 25px;
    height: 25px;
}

.spinner__ring_2
{
    margin: 5px;
    width: 11px;
    height: 11px;
}

@-webkit-keyframes spin
{
    to
    {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin
{
    to
    {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin
{
    to
    {
        transform: rotate(360deg);
    }
}
